/* psuedo class formatting */
:root {
    --primary-color: #0a5e3b;
    --secondary-color: #922a0b;
    --font-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-align: center;
}

/* id formatting */
#navButton::before {
    content: "☰";
}

#navButton {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 3rem;
    color: var(--font-color);
    transition: 1s;
}

#current {
    text-decoration: underline;
}

/* class format */
.open #navbutton::before {
    content: "X";
}

.open a {
    display: block;
}

.tile {
    margin: 1rem;
    box-shadow: 0px 0px 3px 2px var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.tile:hover {
    box-shadow: inset 0px 0px 3px 2px var(--primary-color);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex div, form{
    width: 50%;
    margin: 1rem;
}

/* tag formatting */
header,
footer {
    background-color: var(--primary-color);
    color: var(--font-color);
}

header {
    display: flex;
    flex-wrap: wrap;
}

nav {
    flex: 100%;
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    animation: fade-in 0.5s;
}

nav a {
    text-decoration: none;
    color: var(--font-color);
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s;
    display: none;
}

nav a:hover {
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nanum Gothic', 'Lato', Arial, Helvetica, serif;
    margin-bottom: 1rem;
}

main {
    margin: 1rem;
}

ul {
    width: 25%;
    margin: 0 auto;
}

li {
    margin: 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--primary-color);
    transition: 0.5s;
}

li:hover {
   border-bottom: 1px solid var(--secondary-color);
}

dialog {
    margin: auto;
    border: none;
    background: none;
    animation: fade-in 0.5s;
}

dialog button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
}

dialog button:hover {
    background-color: var(--secondary-color);
}

dialog img {
    width: 50%;
    margin: 0 auto;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    margin: 1rem 0;
}

input[type="submit"],
select, button {
    border: none;
    background: none;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

input[type="submit"]:hover, button {
    background-color: var(--secondary-color);
}

footer {
    margin-top: 1rem;
    padding: 1rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }
    
    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 500px) {
    #navButton {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .flex {
        flex-direction: row;
    }
    
    nav {
        flex-direction: row;
    }

    nav a {
        display: block;
    }
}