:root {
    --primary-color: #bd7120;
    --secondary-color: #4f4844;
    --background-color: #FFF;
    --text-primary-color: #000;
    --text-secondary-color: #FFF;
    --font-family: 'Roboto', sans-serif;
}

* {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--text-primary-color);
}

#navButton {
    background: none;
    border: none;
    transition: 1s;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#navButton::before {
    content: "☰";
}

.open #navButton::before {
    content: "X";
}

#navButton:hover {
    cursor: pointer;
}

.open a {
    display: block;
}

header,
footer {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header {
    margin-bottom: 1rem;
}

header div h1 {
    margin: 0;
    display: inline;
}

nav {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem 0;
}

nav a {
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    display: none;
}

#current {
    text-decoration: underline;
}

main {
    text-align: center;
    margin: 2rem auto;
}

.grid {
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

.grid div, .grid section {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 2px 5px var(--secondary-color);
}

.grid section h3 {
    text-align: left;
    background-color: var(--primary-color);
}

.grid div img {
    width: 20rem;
}

.grid div .memberName {
    display: none;
}

.list {
    display: flex;
    flex-direction: column;
}

.list div img {
    display: none;
}

.list div .memberName {
    display: block;
}

.list div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: none;
    justify-content: center;
}

.list div:nth-child(even) {
    background-color: var(--secondary-color);
}

.list div:nth-child(even) > * {
    color: var(--text-secondary-color);
}

main div button {
    background: none;
    border: none;
    margin: 1rem;
    padding: 1rem;
}

main div button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px inset var(--secondary-color);
}

#priorityMembers {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#priorityMembers div img  {
    width: 20rem;
}

#priorityMembers div h3 {
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: solid 1px black;
    padding: 1rem;
}

@media screen and (min-width: 500px) {
    header {
        flex-wrap: nowrap;
    }

    #navButton {
        display: none;
    }

    nav {
        flex-direction: row;
    }

    nav a {
        display: block;
        border-radius: 1rem;
        transition: 500ms;
    }

    nav a:hover {
        background-color: var(--secondary-color);
        color: var(--text-secondary-color);
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr
    }

    #priorityMembers {
        flex-direction: row;
    }
}